html {
  background-color: transparent;
}
  body {
    background-color: transparent;
    align: center;
    margin: 0.25em;
    padding: 0.3em
  }
    #wrap {
      background-color: transparent;
      margin: auto;
      width: 890px;
    /*  border: 1px solid #999; */
    }
      #header {

        background-color: transparent;
/*
        background-image: url('file:///home/james/projecth10w/wireframe/images/logo1.png');
        background-repeat: no-repeat;
        background-position: 50px 10px;*/

        margin: 1.4em;
        margin-bottom: 0px;
        overflow: hidden;
        padding: 1.3em;

      }

        #nav1 {
          background-color: transparent;
          float: right;
       /*   border: 1px solid #999; */
          margin: 2.0em 2.55em;
          margin-top: 12.4em;
/*          margin-top: 4.2em;*/
          padding: 0.2em;
          padding-left: 0.1em;
        }
          #nav1 ul {
            background-color: transparent;
            margin: 0.5em 0.1em;
            margin-left: 0.65em;
            padding: 0.3em 0.1em;
          }
            #nav1 ul li {
              background-color: transparent;
              display: inline;
              margin: 0 0.95em;
              margin-left: 0.5em;
              padding: 0.6em 0.3em;
            }

      #cols {
        background-color: transparent;
        min-height: 20em;
        
      }
        #cols div {
          background-color: transparent;
          margin: 1em;
          overflow: hidden;
        }
        #cols div:first-child {
          background-color: transparent;
          float: left;
          margin: 0.9em 1.6em;
          padding: 0.2em 0.9em;
        }

        #cols div:first-child div{
          background-color: transparent;
          border: 1px solid #999;

        }

        #nav2 {
          background-color: #ff2;

        }
          #nav2 ul {
            background-color: transparent;
            margin-left: 0;
            padding: 0;
          }
            #nav2 ul li {
              background-color: transparent;
              padding: 1em;
              list-style-type: none;
            }
              #nav2 ul li a {
                background-color: transparent
              }

        #content1 {
          background-color: transparent;
          width: 27em
        }

        #content1 img{
          background-color: #eeeefe;
          margin-top: -3.4em;
          z-index: -100;
          position: relative;
        }

      #footer {
        background-color: transparent;
        clear: both
      }
        #footer div:first-child {
          background-color: transparent;
          text-align: right
        }
          #footer div ul {
            background-color: transparent
          }
            #footer div ul li {
              background-color: transparent;
              display: inline
            }
