html {
  background-color: transparent
}
  body {
    background-color: #858551;
/*  background-color: transparent;*/
/*
    background-image: url('http://www.jamesrobertson.eu/projects/ph10w/mockup/home.png');
    background-repeat: no-repeat;
    background-position: 309px -10px;
*/

      background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/bground_above_sliver.png'), url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/lower_logo.png'), url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/lower_bground.png') ;
      background-repeat: repeat-x, no-repeat, repeat-x;
      background-position: top, center  99.5%, bottom;


  }
    #wrap {
      background-color: transparent;
      color: #eee;


    }
      header {
         background-color: #fff; 
       /*  background-color: #fffdd0; */


          border-radius: 13px 13px 0 0;
      }

        header div {
          background-color: transparent;
         background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/logo_top.png'), url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/heading.png'), url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/header_bground_sliver.png');

          background-position: 97px 50px, 313px 57px, 0px 0px;
          background-repeat: no-repeat, no-repeat, repeat-x;
        }

        header nav {
          background-color: #533e3b;
          border-radius: 10px;
        }
          header nav ul {
            background-color: transparent;

          }
            header nav ul li {
              background-color: transparent;
            }
              header nav ul li a {
                background-color: transparent;
                margin: 0.3em 0.6em;
                margin-left: 0em;
                padding: 0.2em 1.25em;

                color: #fff;
                font-family: Verdana, Helvetica;
                font-size: 1.2em;
                text-decoration: none;
              }
              header nav ul li.selected {
                background-color: #858551;
                border-radius: 10px;
              }

#main {
  background-color: #fff;
  border-radius: 0 0 13px 13px;
  /*margin-bottom: 4em;*/
  overflow: hidden;
}
#cols {
  background-color: #fffdd0;
  background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/lower_pg_bground.png');
  background-position: bottom;
  background-repeat: repeat-x;
/*  border-radius: 13px;*/
  /*margin-top: 0px;*/
  margin: 0 1.4em 1.4em 1.4em;
  padding: 1.6em 2.7em 1.6em; 2.7em;

}
  #cols div {
    background-color: transparent;
    margin: 0; padding: 0;
  }

  #cols div:first-child{
    background-color: transparent;
    margin-right: 2.5em;

  }

    #cols div nav {
      background-color: transparent
    }
      #cols div nav ul {
        background-color: transparent
      }
        #cols div nav ul li {
          background-color: #858551;
          background-repeat: no-repeat;
        }
          #cols div nav ul li a {
            background-color: transparent;
            color: #fff;
            display: block;
            font-family: Verdana, Helvetica;
            font-size: 0.8em;
            margin-left: 0.2em;
            padding: 0.95em 0.8em 0.95em 0.6em;
            text-decoration: none;
            width: 11.4em;
          }
        #cols div nav ul li:first-child {
          background-color: #858551;
          background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/hygiene_symbol.png');
          background-position: 130px 13px;
        }
        #cols div nav ul li:nth-child(2) {
          background-color: #858551;
          background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/catering_symbol.png');
          background-position: 133px 10px;
/*          margin: 0.5em;*/
           padding: 0.2em;
        }
          #cols div nav ul li:nth-child(2) a {
            background-color: transparent;
            display: block;
            margin: 0;
            padding: 0.33em 2.2em 0.33em 0.7em;
            width: 9.95em;
          

          }

        #cols div nav ul li:nth-child(3) {
          background-color: #858551;
          background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/classes_symbol.png');
          background-position: 132px 13px;
        }
        #cols div nav ul li:last-child {
          background-color: #858551;
          background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/bsa_symbol.png');
          background-position: 133px 15px;
        }


          #cols div a {
            background-color: transparent
          }
            #cols div a h1 {
              background-color: transparent;
              color: #fff;
              font-family: Verdana, Arial, Helvetica, sans-serif;
              font-size: 1.3em
            }
          #cols div ul {
            background-color: transparent
          }
            #cols div ul li {
              background-color: transparent
            }
              #cols div ul li a {
                background-color: transparent
              }
              #cols div ul li ul {
                background-color: transparent
              }
                #cols div ul li ul li {
                  background-color: transparent
                }
                  #cols div ul li ul li a {
                    background-color: transparent
                  }

        #content1 {
          background-color: transparent;
          background-image: url('http://www.jamesrobertson.eu/projects/ph10w/site1/images/content1.png');
          background-position: 12px 0px;
          background-repeat: no-repeat;
          position: relative;
          top: -9px;
          overflow: hidden;
        }

        article {
          background-color: transparent;
          font-family: Sans, Verdana, Arial;
          font-size: 1.3em;
          font-style: italic;
          margin: 0.4em;
          padding: 1em;
          color: #533e3b;
        }

          article h1 {
            background-color: transparent;
            font-family: Sans, Verdana, Arial;
            font-size: 1.6em;
            font-weight: 500;
            letter-spacing: 0.05em;
            margin: 0.15em 0.3em;
            padding: 0.4em 0.6em;
          }
        
        article#other {
          background-color: transparent;
            color: #535551;
          margin: 0em 0.7em 0.2em 1.4em;
          margin-top: -3.4em; 
          padding: 0em 1em 0.2em 1em;
        }

          article#other h1:first-child {
            background-color: transparent;
            color: #535551;        
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 1.7em;
            font-style: normal;
            font-weight: 900;
            position: relative;
            left: 218px;
            top: 65px;
            z-index: 3;

          }
        .simple {
          background-color: transparent;
          color: #535551;
          overflow: hidden;
          margin: 0.3em 2em 1.3em 3.5em;
          padding: 1.0em;
          
        }
        .simple h1 {
          background-color: transparent;
          margin: 0.1em;
          padding: 0.3em;
        }

          #content1 img {
            background-color: #379;
            margin: 1.0em 0.3em 2.8em 1.5em;

          }
          #content1 p {
            background-color: transparent
          }
            #content1 p a {
              background-color: transparent
            }    
        article ul {
          background-color: transparent
        }
          article ul li {
            background-color: transparent
          }
            article ul li a {
              background-color: transparent
            }
        article p {
          background-color: transparent;
          font-size: 1.4em;
          font-weight: 100;
          letter-spacing: 0.05em;
          margin: 0.15em 0.3em;
          padding: 0.4em 0.6em;
        }

      footer {
        background-color: transparent;
        margin:0 ; padding: 0;
      }
        footer div:first-child {
          background-color: transparent;
          font-family: OpenSymbol,  Arial, Verdana, Helvetica, sans-serif;
          font-size: 0.95em;
          font-weight: 500;
          text-align: right;
          margin: 0.3em; 1.8em 4em 1em;  
          padding: 0.2em 2.4em 3.6em 2em;
          color: #533e3b
        }
          footer div ul {
            background-color: transparent;
            margin: 0.1em 0.9em 0.1em 0.1em;
            padding: 0.2em 2.0em 0.2em 0.2em;
          }
            footer div ul li {
              background-color: transparent;

              margin: 0em 0em 0em 0em;
              padding: 0em 0em 0em 0em;              
            }
              footer div ul li a {
                background-color: transparent;
                color: #533e3b;
              letter-spacing: 0.05em;
                margin: 0em;
                padding: 0em;
                text-decoration: none;
              }
        footer div:last-child {
          background-color: transparent;
          margin: 0;  
          padding: 0;
    
        }
          footer div p {
            background-color: transparent;
            font-family: OpenSymbol,  Arial, Verdana, Helvetica, sans-serif;
            font-size: 0.78em;
            font-weight: 590;
            margin: 0.1em; 0.2em 0.1em 0.2em; 
            padding: 0.4em 0.4em 0.4em 7.8em;
          }
