html {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;*/
  margin: 0em; padding: 0em;
}
  body {
    background-color: transparent;
    text-align: center;
    margin: 0em;
    padding: 0em
  }
    #wrap {
      background-color: transparent;
      margin: 0em auto;
      padding: 0em;
      width: 100%;
      min-width: 1100px;
      max-width: 1450px;
      position: relative;
    }
      #wrap>header {
        background-color: transparent;
        min-height: 6.3em;
      }
        header>nav {
          background-color: transparent;
        }
          header>nav>ul {
            background-color: transparent;
            list-style-type: none;
            margin: 0.1em;
          }

            header>nav>ul>li {
              background-color: transparent;
              display: inline
            }

          header>nav>ul:first-child {
            background-color: transparent;
            float: left;
          }

          header>nav>ul:last-child {
            background-color: transparent;
            float: right;
          }

      main>section {
        background-color: transparent;
        padding: 2.0em;        
      }
      /* We love to cook ... */
      main section:first-child {
        background-color: transparent;        
        min-height: 35.4em; 
      }

      main section#events {
        background-color: transparent;
        min-height: 26.4em;
      }

      main section#training {
        background-color: transparent;
        min-height: 28.05em;
      }

      main section#about_us {
        background-color: transparent;
        min-height: 21.75em;
      }

      /* Contact us */
      footer {
        background-color: transparent;
        min-height: 25.28em;
        margin: 0em; padding: 2em;
      }
        footer>section {
          background-color: transparent
          margin: 2em 5em; padding: 2em 3em;
        }
          footer>section>ul {
            background-color: transparent;
            list-style-type: none;
          }
            footer>section>ul>li {
              background-color: transparent;
            }

#wrap>div {
  background-color: transparent; 
  list-style-type: none;
  position: absolute;
  z-index: 21;
  bottom: 210px;
  right: 30px;
  width: 15em;
  height: 12em; 
}
  #wrap>div>details menu li{
    background-color: transparent; 
  }

