html {
  background-color: transparent
}
  body {
    background-color: transparent
  }
    #wrap {
      background-color: transparent;
    }

      /* primary navigation and Bay Tree logo heading */
      header {
        background-color: #f4f1eb;
        background-image: url('/images/logo.png');
        background-repeat: no-repeat;
        background-position: center 30px;
        margin: 0em; 
        min-height: 7.25em;
        padding: 0.5em 0em;        
      }
        header>nav {
          background-color: transparent;
          margin: 0.5em 0.3em; padding: 0.7em 0.3em;
          overflow: hidden
        }
          header>nav>ul {
            background-color: transparent;
            margin: 0.5em 0.3em; padding: 1.0em 0.3em;
          }

            header>nav>ul>li {
              background-color: transparent;
              font-size: 1.2em;
              padding: 1em 0.7em;
            }

            header>nav>ul:first-child li {
              background-color: transparent;
              margin: 1em 4em 1em 1.6em;
            }
            header>nav>ul:last-child li {
              background-color: transparent;
              margin: 1em 0.8em 1em 4.0em;
            }

              header>nav>ul>li>a {
                background-color: transparent;
                color: #958d8b;
                font-weight: 300;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                text-decoration: none;
              }

      /* applies to all sections */
      main>section {
        background-color: transparent;
        color: #fff;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.25em;
        padding: 12em auto;
        min-height: 12em;
      }
        main>section>p {
          background-color: transparent;
          font-size: 1.09em;
          margin: 0.2em 4.0em 0.6em 3.0em;
          padding: 0.5em 1.2em;
        }
        main>section>h1 {
          background-color: transparent;
          color: #fff;
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 1.3em;
          font-weight: 400;
          margin-top: 0.9em; margin-bottom: 0em;
          padding-top: 1.1em; padding-bottom: 0em;  
        }

        main>section>h2 {
          background-color: transparent;
          color: #fff;
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: 2.9em;
          font-weight: 300;
          margin-top: 0em; margin-bottom: 0.4em; 
          padding: 0.1em;
        }

      /* section: We love to cook ... */
      main>section:first-child {

        background-color: transparent;
        background-image: url('/images/banner.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        /*border: 2px solid #000; */
        color: #f4f1eb; 
        font-size: 4.5em; font-weight: 500; margin: 0;
        margin: 0em auto;
        min-height: 2.3em; 
        padding: 1.3em 1.4em;
      }

        /* p We love to cook ... */
        main>section:first-child>p {
          background-color: transparent;
          margin: 0em 1.5em;
          text-align: left;
          padding: 0.7em 2.3em;
          width: 9em;
        }

      /* section: Events */
      main section#events {
        background-color: #e9e3d8;
        color: #634e42;
        min-height: 21.8em;
        padding: 1.3em 4em;
      }
      main section#events>h1,
      main section#events>h2 {
        color: #634e42;
      }

        main>section#events>ul {
          background-color: transparent;
          list-style-type: none;
          margin: 0.2em; padding: 0.2em;
        }
          main>section#events>ul>li {
            background-color: transparent;
            margin: 0.1em; padding: 0.1em;
          }

      /* section: Training */
      main section#training {
        background-color: #993415;  
        min-height: 22.25em;
        padding: 1.7em;
      }

      main section#training>p {
        background-color: transparent;
        color: #f0ecec;
        margin-bottom: 3.6em;
      }

      /* link box: Contact us */
      main section#training>span {
        background-color: transparent;
        border: 2px solid #f0ecec;
        padding: 0.8em 2.8em;
        text-align: center;
      }

        main section#training>span>a {
          background-color: transparent;
          text-decoration: none;
          color: #f0ecec;
        }


      /* section: About us */
      main section#about_us {
        background-color: #e9e3d8;
        color: #644f43;
        min-height: 16.9em;
        padding-top: 1.7em;
      }

      main section#about_us>h1,
      main section#about_us>h2 {
        color: #644f43;
      }

      footer {
        background-image: url('/images/footer.jpg');
        background-repeat: no-repeat;

        background-position: top center;
        text-align: left;
        margin: 0;
        min-height: 24.5em;
        padding: 1.0em 2.3em;
      }
    
        /* section: Contact us */
        footer>section {
          background-color: transparent;
          color: #fff;
          margin: 1em;
          padding: 2.0em 5em;
        }
          footer>section>h1 {
            background-color: transparent;
            color: #fff;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 2.4em;
            font-weight: 300;
            margin: 0.2em; padding: 0.5em;
          }

          footer>section>p {
            background-color: transparent;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 1.3em;
            margin: 0.5em 0.5em 0.1em 0.5em; padding: 0.72em 0.8em 0.1em 0.8em;
          }
          footer>section>ul {
            background-color: transparent;
            margin: 0.2em 0.1em; padding: 0.2em 0.7em;
          }
            footer>section>ul>li {
              background-color: transparent;
              font-family: Verdana, Arial, Helvetica, sans-serif;
              font-size: 1.23em;
              margin: 0.2em 0.2em; padding: 0.6em;

            }

            /* link box: Email */
            footer>section>ul>li:last-child {
              background-color: transparent;
              border: 2px solid #ffe;
              float: left;
              margin: 1.05em 0.65em; padding: 0.8em 1.0em;
              text-align: center;
              width: 8.6em;
            }
              footer>section>ul>li>a {
                background-color: transparent;
                text-decoration: none;
                color: #fff;
              }
footer>section>div>p {color: #fff;}

#wrap>div>details {
  background-color: transparent; 
  color: rgba(190, 240, 200, 0.3);
  color: #fff;
  text-align: left;
}
  #wrap>div>details>menu>ul{
    background-color: transparent; 
    list-style-type: none;
  }
  #wrap>div>details>menu>ul>li{
    background-color: transparent; 
    color: #333;
    margin: 0.1em 0.1em;
    padding: 0.2em 0.4em;
  }
    #wrap>div>details>menu>ul>li>a{
      background-color: transparent; 
      color: #fff;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.2em;
      margin: 0.1em 0.1em;
      padding: 0.3em 1.0em;
      text-decoration: none;
      letter-spacing: 2px;
    }

      #wrap>div>details>menu>ul>li>a:hover{
        background-color: transparent; 
        text-decoration: underline;
      }
